html {
    height: 150%;
}
body {
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(to bottom right, #52EEE6, #C47BF5);
    background-repeat: no-repeat;    
}
img {
    width: 40px;
    height: 40px;
    margin-bottom: 15px;
    margin-top: 5px;
    margin-right: 25px;
}
.card{
    background-color: #E3EC65;
    color: #1285F1;
}
.input-group{
    border-radius: 20px;
}
#forecastbox{
    border-radius: 20px;
    background-color: #E3EC65;
    text-align: left;
}
#hd {
    width: 400px;
    height: 300px;
}
#pic {
    margin-right: 15px;
    width: 25px;
    height: 30px;
}
.font {
    width: 100px;
    height: 100px;
}
